spring:
  application:
    name: Central Desk

  datasource:
    url: jdbc:postgresql://localhost:5432/chamados_db
    username: postgres
    password: admin

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  jackson:
    serialization:
      FAIL_ON_EMPTY_BEANS: false
